.AdminContainer {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
}

.AdminContainer > div:nth-child(2) {
    padding-left: 2em;
}

.CategoriesContainer {
    font-size: 1.2em;
    padding: 0.8em 0;
}

.CategoriesContainer > a {
    float: right;
}

.AdminContainer span:hover {
    cursor: pointer;
    opacity: 0.8;
}   

@media (max-width: 700px) {
    .flexWhen700px {
        display: flex;
        flex-direction: column;
    }

    .CategoriesBox {
        display: flex;
        width: 85vw;
        overflow-x:hidden;
    }

    .CategoriesBox:hover {
        overflow-x: scroll;
    }

    .AdminContainer {
        display: flex;
        flex-direction: column;
    }

    .CategoriesContainer > a{
        float: none;  
        display: block;
        margin-top: 0.7em;
    }

    .CategoriesForm {
        width: 60%;
        background: none;
    }

    .CategoriesForm::before {
       content: 'ADD CATEGORY';
    }

    .ProductHeader {
        padding: 0
    }

}
