.AuthContainer {
  display: flex;
  align-items: center;
  height: calc(100vh - 64px);
}

.Image {
  width: 55%;
  height: 100%;
}

.AuthForm {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 4em;
  width: 45%;
}

.AuthForm h1 {
  line-height: 1.5;
  font-size: 2.5em;
}

.AuthForm label {
  display: block;
}

.AuthForm input,
.forgotPasswordForm label input {
  padding: 0.6em 0.5em;
  width: 80%;
  margin: 0.8em 0 1.5em 0;
  border-style: none;
  border: 1px solid rgb(74, 73, 73);
  font-size: 1em;
  background: transparent;
}

.AuthButton {
  padding: 1em 0;
  font-size: 1em;
  background: #f8b500;
  color: #393e46;
  margin-top: 1em;
  max-width: 30%;
  border-style: none;
}

.AuthForm p:hover {
  opacity: 0.7;
  cursor: pointer;
}

.AuthButton:hover {
  cursor: pointer;
  font-weight: 600;
}

.errormessage {
  color: red;
  width: 80%;
}

.passwordArea {
  display: flex;
  justify-content: space-between;
  width: 84%;
}

.passwordArea > label:last-child {
  color: #5c636e;
}

.forgotPasswordForm {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 823px) {
  .AuthContainer img {
    display: none;
  }

  .AuthForm {
    margin: 0;
    width: 100%;
  }
}
