.OrderContainer p:nth-child(2) {
    margin: 0;
}

.OrderContainer {
    overflow: hidden;
}

.OrderContainer:hover {
    overflow: auto;
}

.orderHeader {
    display: flex;
    justify-content: space-between;
}

.sortDropdown {
    position: absolute;
    background: #5c636e;
    right: 3%;
}

.sortDropdown p {
    color: #f7f7f7;
    margin: 0;
    padding: 1em;
    border-bottom: 0.5px solid grey;
}