.SellersDashboard,
.userDashboard {
  display: flex;
  padding-top: 2em;
}

.SellersSidebar,
.userSidebar {
  width: 20%;
  padding-right: 2em;
}

.SellersMain,
.userMain {
  width: 80%;
  height: 85vh;
  overflow-y: scroll;
}

.SellersSidebar img {
  width: 50%;
}

.UserProducts {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.UserProducts h4 {
  margin: 0;
  margin-bottom: 0.6em;
}

.SellersProductContainer {
  padding: 1em 0;
}

.SellersProductContainer h3 {
  font-size: 1.5em;
}

.addProductForm select {
  width: 10em;
  height: 3em;
  font-weight: 500;
  background: #f7f7f7;
  border-style: none;
}

.addProductForm {
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.2em;
  align-items: center;
}

.addProductForm h4 {
  margin: 0;
  margin: 0.5em 0;
}

.addProductForm input {
  width: 80%;
  font-size: 1em;
  padding: 0.1em 0;
}

.addProductForm button {
  font-size: 1em;
  width: 80%;
}

@media (max-width: 500px) {
  .userDashboard {
    flex-direction: column;
  }

  .userSidebar {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }

  .userMain {
    width: 100%;
  }

  .userMain > div:first-child {
      font-size: 0.9em;
  }

  .SellersDashboard {
      flex-direction: column;
      width: 90%;
  }

  .SellersMain {
      width: 100%;
  }

  .SellersSidebar {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
  }

  .SellersSidebar img {
      display: none;
  }

  .UserProducts {
      grid-template-columns: 1fr;
  }
}
