.SettingsContainer {
    display: flex;
    height: 90vh;
    align-items: flex-start;
    padding-top: 2em;
}

.SettingsContainer input, .SettingsContainer textarea {
    padding: 0.3em;
    margin: 0.5em 0;
    border-style: none;
    border: 1px solid;
    width: 100%;
    font-size: 1em;
}

.SettingsContainer textarea {
    font-size: 0.8em;
    height: 6em;
}

.SettingsContainer h1 {
    margin-top: 0;
}


.FormColumn {
    display: flex;
}

.FormColumn > div {
    margin-right: 3em;
}

.RemoveItem {
    border: 1px solid;
    padding: 0.8em;
    background: #db3236;
    color: white;
    text-align: center;
    clear: both;
    float: right;
    font-size: 0.9em;
}

.SettingsContainer > div {
    padding: 0 2em;
}

/* Categories Settings */

.CategorySettings {
    display: flex;
    padding-top: 3em;
    align-items: center;
}

.CategorySettings > div {
    padding-left: 3em;
}

.CategorySettings img {
    width: 50%;
}

.CategorySettings input {
    font-size: 1em;
    padding: 0.3em 0;
}

.thin {
    font-weight: lighter;
    font-size: 0.6em;
}

.productsInCat {
    overflow-y: hidden;
    height: 20vh;
}

.productsInCat:hover {
    overflow-y: auto;
}

.ActionCall {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ActionCall > p{
    padding-right: 1em;
    opacity: 0.7;
}

@media (max-width: 900px) {
    .CategorySettings > img{
        display: none;
    }

    .CategorySettings > div {
        padding: 0;
    }
}