.Product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-right: 1em;
  height: 80vh;
  overflow-y: hidden;
}

.Product:hover {
  overflow-y: auto;
}

.ProductItem {
  max-width: 30vw;
  padding: 1.5em;
  height: 65%;
}

.ProductItem:hover {
  background: white;
  border-radius: 5%;
}

.ProductHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  padding-left: 1.5em;
}

.ProductHeader form {
  right: 2em;
  padding: 1.5em;
  font-weight: bold;
}

.ProductHeader input {
  width: 100%;
  padding: 0.5em 0 0.5em 0.5em;
  margin: 0.5em 0;
  border-style: none;
  border: 0.5px solid black;
  font-size: 0.9em;
}

.ProductHeader button {
  width: 100%;
  padding: 0.5em 0;
  font-size: 1.1em;
  border-style: none;
  margin-top: 1.5em;
  background: #f8b500;
  font-weight: bold;
}

.ProductInfo > div:first-child {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
}

.product-lastchild {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-image {
  height: 25vh;
  width: 100%;
}

.product-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.EmptyProduct {
  text-align: center;
  position: relative;
  left: 8vw;
  top: 10vh;
  height: 10vh;
  width: 40vw;
}

.EmptyProduct img {
  width: 90%;
}

.CategoriesForm {
  display: flex;
  margin-top: 2em;
  justify-content: space-around;
  background: #f8b500;
  padding: 0.3em 0;
}

.CategoriesForm input {
  width: 80%;
  font-size: 1.3em;
}

.CategoriesForm span {
  font-size: 2em;
}

.fa-cog {
  color: #f8b500;
}

.moreInfo {
  font-weight: bold;
  color: #393e46;
}

.moreInfo:hover {
  color: #f8b500;
  cursor: pointer;
}

@media (max-width: 1199px) {
  .product-lastchild {
    flex-direction: column;
    align-items: flex-start;
  }

  .product-lastchild > span:last-child {
    text-align: center;
    margin-top: 1em;
    width: 90%;
  }

  .ProductItem {
    height: 90%;
  }

  .Cart {
    width: 30%;
  }
}

@media (max-width: 955px) {
  .Cart {
    display: none;
  }

  .MenuProducts {
    width: 90%;
  }
}

@media (max-width: 700px) {
  .MenuContainer > div:first-child {
    display: flex;
    justify-content: flex-start;
    overflow-x: hidden;
  }
  .MenuContainer > div:first-child {
    overflow-x: scroll;
  }
  .MenuContainer > div:first-child > h1 {
    display: none;
  }

  .MenuContainer {
    flex-direction: column;
    max-height:90vh;
  }

  .MenuProducts {
    width: 100%;
  }

  .CategoriesContainer {
    text-align: center;
    margin: 0 1em;
  }

  .Product {
      grid-template-columns: 1fr;
      
  }

  .ProductItem {
      max-width: 100%;
  }
}
