.Navbar {
    display: flex;
    height: 4em;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    background: white;
    top: 0px;
}

.Navbar a {
    text-decoration: none;
    color: black;
}

.NavItemsCenter {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.NavItemsEnd {
    width: 12%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cart {
    position: absolute;
    right: 60px;
    top: 8vh;
    background: #5c636e;
    color: #f7f7f7;
    max-width: 55%;
    padding: 0 1em 1.5em 1em;
    transition: 0.3s ease;
}

.account {
    position: absolute;
    right: 25px;
    top: 8vh;
    background: #5c636e;
    color: #f7f7f7;
    max-width: 25%;
    padding: 0 1em 0.5em 1em;
    transition: 0.3s ease;
}

.hiddenDropdown {
    position: absolute;
    top: -15vh;
    right: 5%;
    transition: 0.5s ease;
}

.cart:after, .userdropdown:after, .account:after {
    content: " ";
    position: absolute;
    background: #5c636e;
    border-top: none;
    border-right: 15px solid white;
    border-left: 15px solid white;
    border-bottom: 15px solid #5c636e;
    top: -15px;
  }

  .cart:after {
    right: 70px;
  }

  .userdropdown:after {
    right: 25px;
  }

  .account:after {
    right: 20px;
  }
  
.Logo {
    width: 6em;
}

.Logo > img {
    width: 100%;
    height: 100%;
}

.smallCart {
    grid-template-columns: 0.5fr 4fr 1fr !important;
}

.userdropdown {
    position: absolute;
    right: 20px;
    top: 8vh;
    background: #5c636e;
    padding: 0 1em;
    transition: 0.3s ease;
}

.userdropdown > a, .account > a {
    display: block;
    padding: 1em 0;
    color: #f7f7f7;
}

.userdropdown > a:hover, .account > a:hover {
    font-weight: 800;
    color: #f8b500;
}

.userdropdown > a:not(:last-child), .account > a:not(:last-child) {
    border-bottom: 1px solid rgb(174, 173, 173, 0.6);
}

.userdropdown > a > span {
    padding-right: 0.5em;
}

@media (max-width: 700px) {
    .navItemCenterGone {
        display: none;
    }

    .NavItemsCenter {
        justify-content: center;
    }

    .userdropdown {
        right: 3px;
    }

    .cart {
        right: 42px;
    }
}

@media (max-width: 570px) {
    .NavItemsCenter {
        font-size: 0.8em;
    }
}

@media (max-width: 400px) {
    .NavItemsCenter {
        justify-content: flex-start;
    }
}