#home {
    height: 100vh;
    overflow: auto;
}

.Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 95%;
    height: 100%;
}

.Header h1 {
    font-size: 3.5em;
    font-weight: 800;
    text-align: right;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #233142;
}

#how-it-works {
    background: #f7f7f7;
    color: #393e46;
}

#how-it-works h1 {
    padding-top: 3em;
    text-align: center;
    margin-top: 0;
}

.howitworksContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: baseline;
    padding: 3em 0;
}

.howitworksContainer > div {
    text-align: center;
    padding: 0 1em;
}

.howitworksContainer img {
    width: 80%;
    height: 80%;
    padding-bottom: 1.5em;
}

.howitworksContainer p {
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: 1px;
    padding-bottom: 1.5em;
}


#contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background: #5c636e;
    color: #f7f7f7;
    padding: 2em;
}

#contact h1 {
    font-size: 5em;
    font-weight : 800;
    letter-spacing: 1px;
}

#contact form {
    font-size: 1.2em;
}

#contact form h4 {
    margin: 0;
    margin-bottom: 0.5em;
}

#contact form input, #contact form textarea {
    width: 80%;
    padding: 0.3em;
    margin-bottom: 2em;
    font-size: 1em;
}

#contact form textarea {
    height: 6vh;
}

#contact form button {
    display: block;
    width: 83%;
    font-size: 0.8em;
    margin-bottom: 3em;
}

@media (max-width: 823px) {
    .howitworksContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
      .howitworksContainer div{
        width: 60%;
        margin: 3em 0;
      }
    
      #contact {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    
      #contact form {
        width: 100%;
      }
    
      #contact form input, #contact form textarea {
        width: 95%;
      } 
    
      #contact form button {
        width: 97%;
      }
    
}