.ErrorContainer {
    text-align: center;
    height: 80vh;
}

.ErrorContainer > div {
    width: 80vw;
    height: 60vh;
    padding-top: 4em;
}

.ErrorContainer > div > img {
    width: 100%;
    height: 100%;
}

.ErrorContainer > h1 {
    font-size: 2.5em;
}