.MenuContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.CartItem {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    margin: 1.5em 0;
}

.CartItem > i {
    color: #f8b500;
    padding-right: 0.5em;
}

.CartItem > img {
    padding-right: 0.5em;
}

.CheckoutContainer {
    display: grid;
    grid-template-columns: 2fr 3.5fr;
}

.CheckoutContainer > div:first-child {
    margin-right: 3em;
}

.checkout {
    grid-template-columns: 0.5fr 3fr 1fr;
}

.fa-minus-circle {
    opacity: 0;
    text-align: right;
}

.fa-minus-circle:hover {
    color: #f95959;
}

.CartItem:hover {
    cursor: pointer;
}

.CartItem:hover .fa-minus-circle {
    opacity: 1; 
}

.MenuProducts {
    overflow-y: hidden;
    height: 90vh;
    width: 60vw;
}

.MenuProducts:hover {
    overflow-y: auto;
}

.AddressForm {
    width: 70%;
}

.AddressForm input {
    width: 100%;
    font-size: 0.8em;
    padding: 0.6em 0;
    margin-top: 0.6em;
}

.PaymentContainer {
    clear: both;
    border-top: 1px solid rgb(84, 84, 84, 0.4);
}

.StripeElement {
    margin-top: 0.6em;
}

.split-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.split-form input {
    display: block;
    width: 80%;
    font-size: 0.8em;
    padding: 0.4em 0.2em;
    margin-top: 0.6em;
}

@media (max-width: 1199px) {
    .MenuContainer {
        display: flex;
    }
}

@media (max-width: 700px) {
    .CheckoutContainer {
        display: flex;
        flex-direction: column;
    }
}


