body {
  background: #f7f7f7;
  color: #393e46;
}

.Home,
#how-it-works,
#contact,
.Footer,
.Navbar,
.AdminContainer,
.AuthContainer,
.SellersDashboard,
.MenuContainer,
.userDashboard,
.Orders,
.CheckoutContainer,
.CategorySettings,
.SettingsContainer,
.ErrorContainer {
  padding: 0 3em;
}

a,
.link {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.yellowbutton {
  background: /*#f8b500*/lightblue;
  font-weight: bold;
  padding: 0.7em;
  border-style: none;
}

.yellowbutton:hover,
a:hover,
.link:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media (max-width: 800px) {
  .Home,
#how-it-works,
#contact,
.Footer,
.Navbar,
.AdminContainer,
.AuthContainer,
.SellersDashboard,
.MenuContainer,
.userDashboard,
.Orders,
.CheckoutContainer,
.CategorySettings,
.SettingsContainer,
.ErrorContainer {
  padding: 0 2em;
}
}

@media (max-width: 500px) {
  .Home,
#how-it-works,
#contact,
.Footer,
.Navbar,
.AdminContainer,
.AuthContainer,
.SellersDashboard,
.MenuContainer,
.userDashboard,
.Orders,
.CheckoutContainer,
.CategorySettings,
.SettingsContainer,
.ErrorContainer {
  padding: 0 1em;
}
}

