.ModalContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.ModalContainer > div {
    background: white;
    width: 50%;
    height: 50%;
    padding: 2em;
    z-index: 300;
}